# Environment variable placeholder
# Add shared example values here.

# [Message Broker - Kafka: local development sample]
KAFKA_CLUSTER_ID=5f55wRIfQ0KiuThOsp0iug
KAFKA_INTERNAL_BOOTSTRAP_SERVERS=theseus-local-kafka:29092
KAFKA_EXTERNAL_BOOTSTRAP_SERVERS=localhost:19092
SPRING_KAFKA_BOOTSTRAP_SERVERS=theseus-local-kafka:29092
CORE_KAFKA_BOOTSTRAP_SERVERS=theseus-local-kafka:29092
CORE_KAFKA_CONSUMER_ENABLED=false
KAFKA_TOPIC_TOOL_GENERATION_REQUEST=theseus.tool-generation.request
KAFKA_TOPIC_TOOL_REGENERATION_REQUEST=theseus.tool-regeneration.request
KAFKA_TOPIC_TOOL_GENERATION_EVENT=theseus.tool-generation.event
