/.idea/
/CLAUDE.md
text.md
.vscode/
/backend/market-server/tmp/api-server
/backend/market-server/api
/backend/api-gateway/docs/AGENT_PLAN.md
/backend/api-gateway/src/main/resources/public_key.pem
/backend/market-server/market-server
/backend/ai-server/collector/data_cybos_1m.zip